# Training

In [102]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm


data = pd.read_csv('sample_csv.csv')
data.reset_index(drop = True, inplace=True)

data

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0x4607\n,INDORES13DEL02\n,37.000000\n,4.900000\n,22.745049,75.892471,22.765049,75.912471,19-03-2022\n,11:30\n,11:45\n,Sunny\n,High\n,2,Snack\n,motorcycle\n,0.000000\n,No\n,Urban\n,24.0
1,0xb379\n,BANGRES18DEL02\n,34.000000\n,4.500000\n,12.913041,77.683237,13.043041,77.813237,25-03-2022\n,19:45\n,19:50\n,Stormy\n,Jam\n,2,Snack\n,scooter\n,1.000000\n,No\n,Metropolitian\n,33.0
2,0x5d6d\n,BANGRES19DEL01\n,23.000000\n,4.400000\n,12.914264,77.678400,12.924264,77.688400,19-03-2022\n,8:30\n,8:45\n,Sandstorms\n,Low\n,0,Drinks\n,motorcycle\n,1.000000\n,No\n,Urban\n,26.0
3,0x7a6a\n,COIMBRES13DEL02\n,38.000000\n,4.700000\n,11.003669,76.976494,11.053669,77.026494,05-04-2022\n,17:60\n,18:10\n,Sunny\n,Medium\n,0,Buffet\n,motorcycle\n,1.000000\n,No\n,Metropolitian\n,21.0
4,0x70a2\n,CHENRES12DEL01\n,32.000000\n,4.600000\n,12.972793,80.249982,13.012793,80.289982,26-03-2022\n,13:30\n,13:45\n,Cloudy\n,High\n,1,Snack\n,scooter\n,1.000000\n,No\n,Metropolitian\n,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09\n,JAPRES04DEL01\n,30.000000\n,4.800000\n,26.902328,75.794257,26.912328,75.804257,24-03-2022\n,11:35\n,11:45\n,Windy\n,High\n,1,Meal\n,motorcycle\n,0.000000\n,No\n,Metropolitian\n,32.0
45589,0xd641\n,AGRRES16DEL01\n,21.00\n,4.60\n,0.000000,0.000000,0.070000,0.070000,16-02-2022\n,19:55\n,20:10\n,Windy\n,Jam\n,0,Buffet\n,motorcycle\n,1.00\n,No\n,Metropolitian\n,36.0
45590,0x4f8d\n,CHENRES08DEL03\n,30.000000\n,4.900000\n,13.022394,80.242439,13.052394,80.272439,11-03-2022\n,23:50\n,24:05\n,Cloudy\n,Low\n,1,Drinks\n,scooter\n,0.000000\n,No\n,Metropolitian\n,16.0
45591,0x5eee\n,COIMBRES11DEL01\n,20.000000\n,4.700000\n,11.001753,76.986241,11.041753,77.026241,07-03-2022\n,13:35\n,13:40\n,Cloudy\n,High\n,0,Snack\n,motorcycle\n,1.000000\n,No\n,Metropolitian\n,26.0
45592,0x5fb2\n,RANCHIRES09DEL02\n,23.000000\n,4.900000\n,23.351058,85.325731,23.431058,85.405731,02-03-2022\n,17:10\n,17:15\n,Fog\n,Medium\n,2,Snack\n,scooter\n,1.000000\n,No\n,Metropolitian\n,36.0

In [103]:
data.dtypes

ID                              object
Delivery_person_ID              object
Delivery_person_Age             object
Delivery_person_Ratings         object
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Order_Date                      object
Time_Orderd                     object
Time_Order_picked               object
Weather conditions              object
Road_traffic_density            object
Vehicle_condition                int64
Type_of_order                   object
Type_of_vehicle                 object
multiple_deliveries             object
Festival                        object
City                            object
Time_taken (min)               float64
dtype: object

In [104]:
data['City'].unique()

array(['Urban\n', 'Metropolitian\n', 'Semi-Urban\n', 'NaN\n'],
      dtype=object)

In [105]:
x= pd.get_dummies(data['City'])
data = data.drop(['City'], axis=1)
data = pd.concat([data, x], axis=1)
data.head(10)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,Time_taken (min),Metropolitian\n,NaN\n,Semi-Urban\n,Urban\n
0,0x4607\n,INDORES13DEL02\n,37.000000\n,4.900000\n,22.745049,75.892471,22.765049,75.912471,19-03-2022\n,11:30\n,...,2,Snack\n,motorcycle\n,0.000000\n,No\n,24.0,0,0,0,1
1,0xb379\n,BANGRES18DEL02\n,34.000000\n,4.500000\n,12.913041,77.683237,13.043041,77.813237,25-03-2022\n,19:45\n,...,2,Snack\n,scooter\n,1.000000\n,No\n,33.0,1,0,0,0
2,0x5d6d\n,BANGRES19DEL01\n,23.000000\n,4.400000\n,12.914264,77.678400,12.924264,77.688400,19-03-2022\n,8:30\n,...,0,Drinks\n,motorcycle\n,1.000000\n,No\n,26.0,0,0,0,1
3,0x7a6a\n,COIMBRES13DEL02\n,38.000000\n,4.700000\n,11.003669,76.976494,11.053669,77.026494,05-04-2022\n,17:60\n,...,0,Buffet\n,motorcycle\n,1.000000\n,No\n,21.0,1,0,0,0
4,0x70a2\n,CHENRES12DEL01\n,32.000000\n,4.600000\n,12.972793,80.249982,13.012793,80.289982,26-03-2022\n,13:30\n,...,1,Snack\n,scooter\n,1.000000\n,No\n,30.0,1,0,0,0
5,0x9bb4\n,HYDRES09DEL03\n,22.000000\n,4.800000\n,17.431668,78.408321,17.461668,78.438321,11-03-2022\n,21:20\n,...,0,Buffet\n,motorcycle\n,1.000000\n,No\n,26.0,0,0,0,1
6,0x95b4\n,RANCHIRES15DEL01\n,33.000000\n,4.700000\n,23.369746,85.339820,23.479746,85.449820,04-03-2022\n,19:15\n,...,1,Meal\n,scooter\n,1.000000\n,No\n,40.0,1,0,0,0
7,0x9eb2\n,MYSRES15DEL02\n,35.000000\n,4.600000\n,12.352058,76.606650,12.482058,76.736650,14-03-2022\n,17:25\n,...,2,Meal\n,motorcycle\n,1.000000\n,No\n,32.0,1,0,0,0
8,0x1102\n,HYDRES05DEL02\n,22.000000\n,4.800000\n,17.433809,78.386744,17.563809,78.516744,20-03-2022\n,20:55\n,...,0,Buffet\n,motorcycle\n,1.000000\n,No\n,34.0,1,0,0,0
9,0xcdcd\n,DEHRES17DEL01\n,36.000000\n,4.200000\n,30.327968,78.046106,30.397968,78.116106,12-02-2022\n,21:55\n,...,2,Snack\n,motorcycle\n,3.000000\n,No\n,46.0,1,0,0,0

In [106]:
data = data.drop(['NaN\n'], axis=1)

In [107]:
data['Type_of_order'].unique()
x= pd.get_dummies(data['Type_of_order'])
data = data.drop(['Type_of_order'], axis=1)
data = pd.concat([data, x], axis=1)
data.head(10)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,multiple_deliveries,Festival,Time_taken (min),Metropolitian\n,Semi-Urban\n,Urban\n,Buffet\n,Drinks\n,Meal\n,Snack\n
0,0x4607\n,INDORES13DEL02\n,37.000000\n,4.900000\n,22.745049,75.892471,22.765049,75.912471,19-03-2022\n,11:30\n,...,0.000000\n,No\n,24.0,0,0,1,0,0,0,1
1,0xb379\n,BANGRES18DEL02\n,34.000000\n,4.500000\n,12.913041,77.683237,13.043041,77.813237,25-03-2022\n,19:45\n,...,1.000000\n,No\n,33.0,1,0,0,0,0,0,1
2,0x5d6d\n,BANGRES19DEL01\n,23.000000\n,4.400000\n,12.914264,77.678400,12.924264,77.688400,19-03-2022\n,8:30\n,...,1.000000\n,No\n,26.0,0,0,1,0,1,0,0
3,0x7a6a\n,COIMBRES13DEL02\n,38.000000\n,4.700000\n,11.003669,76.976494,11.053669,77.026494,05-04-2022\n,17:60\n,...,1.000000\n,No\n,21.0,1,0,0,1,0,0,0
4,0x70a2\n,CHENRES12DEL01\n,32.000000\n,4.600000\n,12.972793,80.249982,13.012793,80.289982,26-03-2022\n,13:30\n,...,1.000000\n,No\n,30.0,1,0,0,0,0,0,1
5,0x9bb4\n,HYDRES09DEL03\n,22.000000\n,4.800000\n,17.431668,78.408321,17.461668,78.438321,11-03-2022\n,21:20\n,...,1.000000\n,No\n,26.0,0,0,1,1,0,0,0
6,0x95b4\n,RANCHIRES15DEL01\n,33.000000\n,4.700000\n,23.369746,85.339820,23.479746,85.449820,04-03-2022\n,19:15\n,...,1.000000\n,No\n,40.0,1,0,0,0,0,1,0
7,0x9eb2\n,MYSRES15DEL02\n,35.000000\n,4.600000\n,12.352058,76.606650,12.482058,76.736650,14-03-2022\n,17:25\n,...,1.000000\n,No\n,32.0,1,0,0,0,0,1,0
8,0x1102\n,HYDRES05DEL02\n,22.000000\n,4.800000\n,17.433809,78.386744,17.563809,78.516744,20-03-2022\n,20:55\n,...,1.000000\n,No\n,34.0,1,0,0,1,0,0,0
9,0xcdcd\n,DEHRES17DEL01\n,36.000000\n,4.200000\n,30.327968,78.046106,30.397968,78.116106,12-02-2022\n,21:55\n,...,3.000000\n,No\n,46.0,1,0,0,0,0,0,1

In [108]:
data['Weather conditions'].unique()
x= pd.get_dummies(data['Weather conditions'])
data = data.drop(['Weather conditions'], axis=1)
data = pd.concat([data, x], axis=1)
data.head(10)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Drinks\n,Meal\n,Snack\n,Cloudy\n,Fog\n,NaN\n,Sandstorms\n,Stormy\n,Sunny\n,Windy\n
0,0x4607\n,INDORES13DEL02\n,37.000000\n,4.900000\n,22.745049,75.892471,22.765049,75.912471,19-03-2022\n,11:30\n,...,0,0,1,0,0,0,0,0,1,0
1,0xb379\n,BANGRES18DEL02\n,34.000000\n,4.500000\n,12.913041,77.683237,13.043041,77.813237,25-03-2022\n,19:45\n,...,0,0,1,0,0,0,0,1,0,0
2,0x5d6d\n,BANGRES19DEL01\n,23.000000\n,4.400000\n,12.914264,77.678400,12.924264,77.688400,19-03-2022\n,8:30\n,...,1,0,0,0,0,0,1,0,0,0
3,0x7a6a\n,COIMBRES13DEL02\n,38.000000\n,4.700000\n,11.003669,76.976494,11.053669,77.026494,05-04-2022\n,17:60\n,...,0,0,0,0,0,0,0,0,1,0
4,0x70a2\n,CHENRES12DEL01\n,32.000000\n,4.600000\n,12.972793,80.249982,13.012793,80.289982,26-03-2022\n,13:30\n,...,0,0,1,1,0,0,0,0,0,0
5,0x9bb4\n,HYDRES09DEL03\n,22.000000\n,4.800000\n,17.431668,78.408321,17.461668,78.438321,11-03-2022\n,21:20\n,...,0,0,0,1,0,0,0,0,0,0
6,0x95b4\n,RANCHIRES15DEL01\n,33.000000\n,4.700000\n,23.369746,85.339820,23.479746,85.449820,04-03-2022\n,19:15\n,...,0,1,0,0,1,0,0,0,0,0
7,0x9eb2\n,MYSRES15DEL02\n,35.000000\n,4.600000\n,12.352058,76.606650,12.482058,76.736650,14-03-2022\n,17:25\n,...,0,1,0,1,0,0,0,0,0,0
8,0x1102\n,HYDRES05DEL02\n,22.000000\n,4.800000\n,17.433809,78.386744,17.563809,78.516744,20-03-2022\n,20:55\n,...,0,0,0,0,0,0,0,1,0,0
9,0xcdcd\n,DEHRES17DEL01\n,36.000000\n,4.200000\n,30.327968,78.046106,30.397968,78.116106,12-02-2022\n,21:55\n,...,0,0,1,0,1,0,0,0,0,0

In [109]:
data['Vehicle_condition'].unique()
x= pd.get_dummies(data['Vehicle_condition'])
data = data.drop(['Vehicle_condition'], axis=1)
data = pd.concat([data, x], axis=1)
data.head(10)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Fog\n,NaN\n,Sandstorms\n,Stormy\n,Sunny\n,Windy\n,0,1,2,3
0,0x4607\n,INDORES13DEL02\n,37.000000\n,4.900000\n,22.745049,75.892471,22.765049,75.912471,19-03-2022\n,11:30\n,...,0,0,0,0,1,0,0,0,1,0
1,0xb379\n,BANGRES18DEL02\n,34.000000\n,4.500000\n,12.913041,77.683237,13.043041,77.813237,25-03-2022\n,19:45\n,...,0,0,0,1,0,0,0,0,1,0
2,0x5d6d\n,BANGRES19DEL01\n,23.000000\n,4.400000\n,12.914264,77.678400,12.924264,77.688400,19-03-2022\n,8:30\n,...,0,0,1,0,0,0,1,0,0,0
3,0x7a6a\n,COIMBRES13DEL02\n,38.000000\n,4.700000\n,11.003669,76.976494,11.053669,77.026494,05-04-2022\n,17:60\n,...,0,0,0,0,1,0,1,0,0,0
4,0x70a2\n,CHENRES12DEL01\n,32.000000\n,4.600000\n,12.972793,80.249982,13.012793,80.289982,26-03-2022\n,13:30\n,...,0,0,0,0,0,0,0,1,0,0
5,0x9bb4\n,HYDRES09DEL03\n,22.000000\n,4.800000\n,17.431668,78.408321,17.461668,78.438321,11-03-2022\n,21:20\n,...,0,0,0,0,0,0,1,0,0,0
6,0x95b4\n,RANCHIRES15DEL01\n,33.000000\n,4.700000\n,23.369746,85.339820,23.479746,85.449820,04-03-2022\n,19:15\n,...,1,0,0,0,0,0,0,1,0,0
7,0x9eb2\n,MYSRES15DEL02\n,35.000000\n,4.600000\n,12.352058,76.606650,12.482058,76.736650,14-03-2022\n,17:25\n,...,0,0,0,0,0,0,0,0,1,0
8,0x1102\n,HYDRES05DEL02\n,22.000000\n,4.800000\n,17.433809,78.386744,17.563809,78.516744,20-03-2022\n,20:55\n,...,0,0,0,1,0,0,1,0,0,0
9,0xcdcd\n,DEHRES17DEL01\n,36.000000\n,4.200000\n,30.327968,78.046106,30.397968,78.116106,12-02-2022\n,21:55\n,...,1,0,0,0,0,0,0,0,1,0

In [110]:
data['Road_traffic_density'].unique()
x= pd.get_dummies(data['Road_traffic_density'])
data = data.drop(['Road_traffic_density'], axis=1)
data = pd.concat([data, x], axis=1)
data.head(10)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,Windy\n,0,1,2,3,High\n,Jam\n,Low\n,Medium\n,NaN\n
0,0x4607\n,INDORES13DEL02\n,37.000000\n,4.900000\n,22.745049,75.892471,22.765049,75.912471,19-03-2022\n,11:30\n,...,0,0,0,1,0,1,0,0,0,0
1,0xb379\n,BANGRES18DEL02\n,34.000000\n,4.500000\n,12.913041,77.683237,13.043041,77.813237,25-03-2022\n,19:45\n,...,0,0,0,1,0,0,1,0,0,0
2,0x5d6d\n,BANGRES19DEL01\n,23.000000\n,4.400000\n,12.914264,77.678400,12.924264,77.688400,19-03-2022\n,8:30\n,...,0,1,0,0,0,0,0,1,0,0
3,0x7a6a\n,COIMBRES13DEL02\n,38.000000\n,4.700000\n,11.003669,76.976494,11.053669,77.026494,05-04-2022\n,17:60\n,...,0,1,0,0,0,0,0,0,1,0
4,0x70a2\n,CHENRES12DEL01\n,32.000000\n,4.600000\n,12.972793,80.249982,13.012793,80.289982,26-03-2022\n,13:30\n,...,0,0,1,0,0,1,0,0,0,0
5,0x9bb4\n,HYDRES09DEL03\n,22.000000\n,4.800000\n,17.431668,78.408321,17.461668,78.438321,11-03-2022\n,21:20\n,...,0,1,0,0,0,0,1,0,0,0
6,0x95b4\n,RANCHIRES15DEL01\n,33.000000\n,4.700000\n,23.369746,85.339820,23.479746,85.449820,04-03-2022\n,19:15\n,...,0,0,1,0,0,0,1,0,0,0
7,0x9eb2\n,MYSRES15DEL02\n,35.000000\n,4.600000\n,12.352058,76.606650,12.482058,76.736650,14-03-2022\n,17:25\n,...,0,0,0,1,0,0,0,0,1,0
8,0x1102\n,HYDRES05DEL02\n,22.000000\n,4.800000\n,17.433809,78.386744,17.563809,78.516744,20-03-2022\n,20:55\n,...,0,1,0,0,0,0,1,0,0,0
9,0xcdcd\n,DEHRES17DEL01\n,36.000000\n,4.200000\n,30.327968,78.046106,30.397968,78.116106,12-02-2022\n,21:55\n,...,0,0,0,1,0,0,1,0,0,0

In [111]:
data['Festival'].unique()
x= pd.get_dummies(data['Festival'])
data = data.drop(['Festival'], axis=1)
data = pd.concat([data, x], axis=1)
data.head(10)

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,2,3,High\n,Jam\n,Low\n,Medium\n,NaN\n,NaN\n,No\n,Yes\n
0,0x4607\n,INDORES13DEL02\n,37.000000\n,4.900000\n,22.745049,75.892471,22.765049,75.912471,19-03-2022\n,11:30\n,...,1,0,1,0,0,0,0,0,1,0
1,0xb379\n,BANGRES18DEL02\n,34.000000\n,4.500000\n,12.913041,77.683237,13.043041,77.813237,25-03-2022\n,19:45\n,...,1,0,0,1,0,0,0,0,1,0
2,0x5d6d\n,BANGRES19DEL01\n,23.000000\n,4.400000\n,12.914264,77.678400,12.924264,77.688400,19-03-2022\n,8:30\n,...,0,0,0,0,1,0,0,0,1,0
3,0x7a6a\n,COIMBRES13DEL02\n,38.000000\n,4.700000\n,11.003669,76.976494,11.053669,77.026494,05-04-2022\n,17:60\n,...,0,0,0,0,0,1,0,0,1,0
4,0x70a2\n,CHENRES12DEL01\n,32.000000\n,4.600000\n,12.972793,80.249982,13.012793,80.289982,26-03-2022\n,13:30\n,...,0,0,1,0,0,0,0,0,1,0
5,0x9bb4\n,HYDRES09DEL03\n,22.000000\n,4.800000\n,17.431668,78.408321,17.461668,78.438321,11-03-2022\n,21:20\n,...,0,0,0,1,0,0,0,0,1,0
6,0x95b4\n,RANCHIRES15DEL01\n,33.000000\n,4.700000\n,23.369746,85.339820,23.479746,85.449820,04-03-2022\n,19:15\n,...,0,0,0,1,0,0,0,0,1,0
7,0x9eb2\n,MYSRES15DEL02\n,35.000000\n,4.600000\n,12.352058,76.606650,12.482058,76.736650,14-03-2022\n,17:25\n,...,1,0,0,0,0,1,0,0,1,0
8,0x1102\n,HYDRES05DEL02\n,22.000000\n,4.800000\n,17.433809,78.386744,17.563809,78.516744,20-03-2022\n,20:55\n,...,0,0,0,1,0,0,0,0,1,0
9,0xcdcd\n,DEHRES17DEL01\n,36.000000\n,4.200000\n,30.327968,78.046106,30.397968,78.116106,12-02-2022\n,21:55\n,...,1,0,0,1,0,0,0,0,1,0

In [112]:
data = data.drop(['Delivery_person_ID'], axis=1)

In [113]:
data.head(10)

,ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,...,2,3,High\n,Jam\n,Low\n,Medium\n,NaN\n,NaN\n,No\n,Yes\n
0,0x4607\n,37.000000\n,4.900000\n,22.745049,75.892471,22.765049,75.912471,19-03-2022\n,11:30\n,11:45\n,...,1,0,1,0,0,0,0,0,1,0
1,0xb379\n,34.000000\n,4.500000\n,12.913041,77.683237,13.043041,77.813237,25-03-2022\n,19:45\n,19:50\n,...,1,0,0,1,0,0,0,0,1,0
2,0x5d6d\n,23.000000\n,4.400000\n,12.914264,77.678400,12.924264,77.688400,19-03-2022\n,8:30\n,8:45\n,...,0,0,0,0,1,0,0,0,1,0
3,0x7a6a\n,38.000000\n,4.700000\n,11.003669,76.976494,11.053669,77.026494,05-04-2022\n,17:60\n,18:10\n,...,0,0,0,0,0,1,0,0,1,0
4,0x70a2\n,32.000000\n,4.600000\n,12.972793,80.249982,13.012793,80.289982,26-03-2022\n,13:30\n,13:45\n,...,0,0,1,0,0,0,0,0,1,0
5,0x9bb4\n,22.000000\n,4.800000\n,17.431668,78.408321,17.461668,78.438321,11-03-2022\n,21:20\n,21:30\n,...,0,0,0,1,0,0,0,0,1,0
6,0x95b4\n,33.000000\n,4.700000\n,23.369746,85.339820,23.479746,85.449820,04-03-2022\n,19:15\n,19:30\n,...,0,0,0,1,0,0,0,0,1,0
7,0x9eb2\n,35.000000\n,4.600000\n,12.352058,76.606650,12.482058,76.736650,14-03-2022\n,17:25\n,17:30\n,...,1,0,0,0,0,1,0,0,1,0
8,0x1102\n,22.000000\n,4.800000\n,17.433809,78.386744,17.563809,78.516744,20-03-2022\n,20:55\n,21:05\n,...,0,0,0,1,0,0,0,0,1,0
9,0xcdcd\n,36.000000\n,4.200000\n,30.327968,78.046106,30.397968,78.116106,12-02-2022\n,21:55\n,22:10\n,...,1,0,0,1,0,0,0,0,1,0

In [114]:
data.dtypes

ID                              object
Delivery_person_Age             object
Delivery_person_Ratings         object
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Order_Date                      object
Time_Orderd                     object
Time_Order_picked               object
Type_of_vehicle                 object
multiple_deliveries             object
Time_taken (min)               float64
Metropolitian\n                  uint8
Semi-Urban\n                     uint8
Urban\n                          uint8
Buffet\n                         uint8
Drinks\n                         uint8
Meal\n                           uint8
Snack\n                          uint8
Cloudy\n                         uint8
Fog\n                            uint8
NaN\n                            uint8
Sandstorms\n                     uint8
Stormy\n                         uint8
Sunny\n                          uint8
Windy\n                          uint8
0                                uint8
1                                uint8
2                                uint8
3                                uint8
High\n                           uint8
Jam\n                            uint8
Low\n                            uint8
Medium\n                         uint8
NaN\n                            uint8
NaN\n                            uint8
No\n                             uint8
Yes\n                            uint8
dtype: object

In [115]:
data = data.drop(['NaN\n'], axis=1)

In [116]:
data.dtypes

ID                              object
Delivery_person_Age             object
Delivery_person_Ratings         object
Restaurant_latitude            float64
Restaurant_longitude           float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Order_Date                      object
Time_Orderd                     object
Time_Order_picked               object
Type_of_vehicle                 object
multiple_deliveries             object
Time_taken (min)               float64
Metropolitian\n                  uint8
Semi-Urban\n                     uint8
Urban\n                          uint8
Buffet\n                         uint8
Drinks\n                         uint8
Meal\n                           uint8
Snack\n                          uint8
Cloudy\n                         uint8
Fog\n                            uint8
Sandstorms\n                     uint8
Stormy\n                         uint8
Sunny\n                          uint8
Windy\n                          uint8
0                                uint8
1                                uint8
2                                uint8
3                                uint8
High\n                           uint8
Jam\n                            uint8
Low\n                            uint8
Medium\n                         uint8
No\n                             uint8
Yes\n                            uint8
dtype: object

In [117]:
data.head(10)

,ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,...,0,1,2,3,High\n,Jam\n,Low\n,Medium\n,No\n,Yes\n
0,0x4607\n,37.000000\n,4.900000\n,22.745049,75.892471,22.765049,75.912471,19-03-2022\n,11:30\n,11:45\n,...,0,0,1,0,1,0,0,0,1,0
1,0xb379\n,34.000000\n,4.500000\n,12.913041,77.683237,13.043041,77.813237,25-03-2022\n,19:45\n,19:50\n,...,0,0,1,0,0,1,0,0,1,0
2,0x5d6d\n,23.000000\n,4.400000\n,12.914264,77.678400,12.924264,77.688400,19-03-2022\n,8:30\n,8:45\n,...,1,0,0,0,0,0,1,0,1,0
3,0x7a6a\n,38.000000\n,4.700000\n,11.003669,76.976494,11.053669,77.026494,05-04-2022\n,17:60\n,18:10\n,...,1,0,0,0,0,0,0,1,1,0
4,0x70a2\n,32.000000\n,4.600000\n,12.972793,80.249982,13.012793,80.289982,26-03-2022\n,13:30\n,13:45\n,...,0,1,0,0,1,0,0,0,1,0
5,0x9bb4\n,22.000000\n,4.800000\n,17.431668,78.408321,17.461668,78.438321,11-03-2022\n,21:20\n,21:30\n,...,1,0,0,0,0,1,0,0,1,0
6,0x95b4\n,33.000000\n,4.700000\n,23.369746,85.339820,23.479746,85.449820,04-03-2022\n,19:15\n,19:30\n,...,0,1,0,0,0,1,0,0,1,0
7,0x9eb2\n,35.000000\n,4.600000\n,12.352058,76.606650,12.482058,76.736650,14-03-2022\n,17:25\n,17:30\n,...,0,0,1,0,0,0,0,1,1,0
8,0x1102\n,22.000000\n,4.800000\n,17.433809,78.386744,17.563809,78.516744,20-03-2022\n,20:55\n,21:05\n,...,1,0,0,0,0,1,0,0,1,0
9,0xcdcd\n,36.000000\n,4.200000\n,30.327968,78.046106,30.397968,78.116106,12-02-2022\n,21:55\n,22:10\n,...,0,0,1,0,0,1,0,0,1,0

In [118]:
data = data.drop(['Order_Date'], axis=1)

In [119]:
data.head(10)

,ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Type_of_vehicle,...,0,1,2,3,High\n,Jam\n,Low\n,Medium\n,No\n,Yes\n
0,0x4607\n,37.000000\n,4.900000\n,22.745049,75.892471,22.765049,75.912471,11:30\n,11:45\n,motorcycle\n,...,0,0,1,0,1,0,0,0,1,0
1,0xb379\n,34.000000\n,4.500000\n,12.913041,77.683237,13.043041,77.813237,19:45\n,19:50\n,scooter\n,...,0,0,1,0,0,1,0,0,1,0
2,0x5d6d\n,23.000000\n,4.400000\n,12.914264,77.678400,12.924264,77.688400,8:30\n,8:45\n,motorcycle\n,...,1,0,0,0,0,0,1,0,1,0
3,0x7a6a\n,38.000000\n,4.700000\n,11.003669,76.976494,11.053669,77.026494,17:60\n,18:10\n,motorcycle\n,...,1,0,0,0,0,0,0,1,1,0
4,0x70a2\n,32.000000\n,4.600000\n,12.972793,80.249982,13.012793,80.289982,13:30\n,13:45\n,scooter\n,...,0,1,0,0,1,0,0,0,1,0
5,0x9bb4\n,22.000000\n,4.800000\n,17.431668,78.408321,17.461668,78.438321,21:20\n,21:30\n,motorcycle\n,...,1,0,0,0,0,1,0,0,1,0
6,0x95b4\n,33.000000\n,4.700000\n,23.369746,85.339820,23.479746,85.449820,19:15\n,19:30\n,scooter\n,...,0,1,0,0,0,1,0,0,1,0
7,0x9eb2\n,35.000000\n,4.600000\n,12.352058,76.606650,12.482058,76.736650,17:25\n,17:30\n,motorcycle\n,...,0,0,1,0,0,0,0,1,1,0
8,0x1102\n,22.000000\n,4.800000\n,17.433809,78.386744,17.563809,78.516744,20:55\n,21:05\n,motorcycle\n,...,1,0,0,0,0,1,0,0,1,0
9,0xcdcd\n,36.000000\n,4.200000\n,30.327968,78.046106,30.397968,78.116106,21:55\n,22:10\n,motorcycle\n,...,0,0,1,0,0,1,0,0,1,0

In [120]:
data['latitude'] = data.apply(lambda row: row['Restaurant_latitude'] - row['Delivery_location_latitude'], axis=1)

In [121]:
data.head(10)

,ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Type_of_vehicle,...,1,2,3,High\n,Jam\n,Low\n,Medium\n,No\n,Yes\n,latitude
0,0x4607\n,37.000000\n,4.900000\n,22.745049,75.892471,22.765049,75.912471,11:30\n,11:45\n,motorcycle\n,...,0,1,0,1,0,0,0,1,0,-0.02
1,0xb379\n,34.000000\n,4.500000\n,12.913041,77.683237,13.043041,77.813237,19:45\n,19:50\n,scooter\n,...,0,1,0,0,1,0,0,1,0,-0.13
2,0x5d6d\n,23.000000\n,4.400000\n,12.914264,77.678400,12.924264,77.688400,8:30\n,8:45\n,motorcycle\n,...,0,0,0,0,0,1,0,1,0,-0.01
3,0x7a6a\n,38.000000\n,4.700000\n,11.003669,76.976494,11.053669,77.026494,17:60\n,18:10\n,motorcycle\n,...,0,0,0,0,0,0,1,1,0,-0.05
4,0x70a2\n,32.000000\n,4.600000\n,12.972793,80.249982,13.012793,80.289982,13:30\n,13:45\n,scooter\n,...,1,0,0,1,0,0,0,1,0,-0.04
5,0x9bb4\n,22.000000\n,4.800000\n,17.431668,78.408321,17.461668,78.438321,21:20\n,21:30\n,motorcycle\n,...,0,0,0,0,1,0,0,1,0,-0.03
6,0x95b4\n,33.000000\n,4.700000\n,23.369746,85.339820,23.479746,85.449820,19:15\n,19:30\n,scooter\n,...,1,0,0,0,1,0,0,1,0,-0.11
7,0x9eb2\n,35.000000\n,4.600000\n,12.352058,76.606650,12.482058,76.736650,17:25\n,17:30\n,motorcycle\n,...,0,1,0,0,0,0,1,1,0,-0.13
8,0x1102\n,22.000000\n,4.800000\n,17.433809,78.386744,17.563809,78.516744,20:55\n,21:05\n,motorcycle\n,...,0,0,0,0,1,0,0,1,0,-0.13
9,0xcdcd\n,36.000000\n,4.200000\n,30.327968,78.046106,30.397968,78.116106,21:55\n,22:10\n,motorcycle\n,...,0,1,0,0,1,0,0,1,0,-0.07

In [122]:
data['longitude'] = data.apply(lambda row: row['Restaurant_longitude'] - row['Delivery_location_longitude'], axis=1)

In [123]:
data.head(10)

,ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Type_of_vehicle,...,2,3,High\n,Jam\n,Low\n,Medium\n,No\n,Yes\n,latitude,longitude
0,0x4607\n,37.000000\n,4.900000\n,22.745049,75.892471,22.765049,75.912471,11:30\n,11:45\n,motorcycle\n,...,1,0,1,0,0,0,1,0,-0.02,-0.02
1,0xb379\n,34.000000\n,4.500000\n,12.913041,77.683237,13.043041,77.813237,19:45\n,19:50\n,scooter\n,...,1,0,0,1,0,0,1,0,-0.13,-0.13
2,0x5d6d\n,23.000000\n,4.400000\n,12.914264,77.678400,12.924264,77.688400,8:30\n,8:45\n,motorcycle\n,...,0,0,0,0,1,0,1,0,-0.01,-0.01
3,0x7a6a\n,38.000000\n,4.700000\n,11.003669,76.976494,11.053669,77.026494,17:60\n,18:10\n,motorcycle\n,...,0,0,0,0,0,1,1,0,-0.05,-0.05
4,0x70a2\n,32.000000\n,4.600000\n,12.972793,80.249982,13.012793,80.289982,13:30\n,13:45\n,scooter\n,...,0,0,1,0,0,0,1,0,-0.04,-0.04
5,0x9bb4\n,22.000000\n,4.800000\n,17.431668,78.408321,17.461668,78.438321,21:20\n,21:30\n,motorcycle\n,...,0,0,0,1,0,0,1,0,-0.03,-0.03
6,0x95b4\n,33.000000\n,4.700000\n,23.369746,85.339820,23.479746,85.449820,19:15\n,19:30\n,scooter\n,...,0,0,0,1,0,0,1,0,-0.11,-0.11
7,0x9eb2\n,35.000000\n,4.600000\n,12.352058,76.606650,12.482058,76.736650,17:25\n,17:30\n,motorcycle\n,...,1,0,0,0,0,1,1,0,-0.13,-0.13
8,0x1102\n,22.000000\n,4.800000\n,17.433809,78.386744,17.563809,78.516744,20:55\n,21:05\n,motorcycle\n,...,0,0,0,1,0,0,1,0,-0.13,-0.13
9,0xcdcd\n,36.000000\n,4.200000\n,30.327968,78.046106,30.397968,78.116106,21:55\n,22:10\n,motorcycle\n,...,1,0,0,1,0,0,1,0,-0.07,-0.07

In [124]:
data = data.drop(['Restaurant_longitude'], axis=1)
data = data.drop(['Delivery_location_longitude'], axis=1)
data = data.drop(['Restaurant_latitude'], axis=1)
data = data.drop(['Delivery_location_latitude'], axis=1)

In [125]:
data.head(10)

,ID,Delivery_person_Age,Delivery_person_Ratings,Time_Orderd,Time_Order_picked,Type_of_vehicle,multiple_deliveries,Time_taken (min),Metropolitian\n,Semi-Urban\n,...,2,3,High\n,Jam\n,Low\n,Medium\n,No\n,Yes\n,latitude,longitude
0,0x4607\n,37.000000\n,4.900000\n,11:30\n,11:45\n,motorcycle\n,0.000000\n,24.0,0,0,...,1,0,1,0,0,0,1,0,-0.02,-0.02
1,0xb379\n,34.000000\n,4.500000\n,19:45\n,19:50\n,scooter\n,1.000000\n,33.0,1,0,...,1,0,0,1,0,0,1,0,-0.13,-0.13
2,0x5d6d\n,23.000000\n,4.400000\n,8:30\n,8:45\n,motorcycle\n,1.000000\n,26.0,0,0,...,0,0,0,0,1,0,1,0,-0.01,-0.01
3,0x7a6a\n,38.000000\n,4.700000\n,17:60\n,18:10\n,motorcycle\n,1.000000\n,21.0,1,0,...,0,0,0,0,0,1,1,0,-0.05,-0.05
4,0x70a2\n,32.000000\n,4.600000\n,13:30\n,13:45\n,scooter\n,1.000000\n,30.0,1,0,...,0,0,1,0,0,0,1,0,-0.04,-0.04
5,0x9bb4\n,22.000000\n,4.800000\n,21:20\n,21:30\n,motorcycle\n,1.000000\n,26.0,0,0,...,0,0,0,1,0,0,1,0,-0.03,-0.03
6,0x95b4\n,33.000000\n,4.700000\n,19:15\n,19:30\n,scooter\n,1.000000\n,40.0,1,0,...,0,0,0,1,0,0,1,0,-0.11,-0.11
7,0x9eb2\n,35.000000\n,4.600000\n,17:25\n,17:30\n,motorcycle\n,1.000000\n,32.0,1,0,...,1,0,0,0,0,1,1,0,-0.13,-0.13
8,0x1102\n,22.000000\n,4.800000\n,20:55\n,21:05\n,motorcycle\n,1.000000\n,34.0,1,0,...,0,0,0,1,0,0,1,0,-0.13,-0.13
9,0xcdcd\n,36.000000\n,4.200000\n,21:55\n,22:10\n,motorcycle\n,3.000000\n,46.0,1,0,...,1,0,0,1,0,0,1,0,-0.07,-0.07

In [126]:
data.dtypes

ID                          object
Delivery_person_Age         object
Delivery_person_Ratings     object
Time_Orderd                 object
Time_Order_picked           object
Type_of_vehicle             object
multiple_deliveries         object
Time_taken (min)           float64
Metropolitian\n              uint8
Semi-Urban\n                 uint8
Urban\n                      uint8
Buffet\n                     uint8
Drinks\n                     uint8
Meal\n                       uint8
Snack\n                      uint8
Cloudy\n                     uint8
Fog\n                        uint8
Sandstorms\n                 uint8
Stormy\n                     uint8
Sunny\n                      uint8
Windy\n                      uint8
0                            uint8
1                            uint8
2                            uint8
3                            uint8
High\n                       uint8
Jam\n                        uint8
Low\n                        uint8
Medium\n                     uint8
No\n                         uint8
Yes\n                        uint8
latitude                   float64
longitude                  float64
dtype: object

In [127]:
x= pd.get_dummies(data['Type_of_vehicle'])
data = data.drop(['Type_of_vehicle'], axis=1)
data = pd.concat([data, x], axis=1)
data.head(10)

,ID,Delivery_person_Age,Delivery_person_Ratings,Time_Orderd,Time_Order_picked,multiple_deliveries,Time_taken (min),Metropolitian\n,Semi-Urban\n,Urban\n,...,Low\n,Medium\n,No\n,Yes\n,latitude,longitude,bicycle\n,electric_scooter\n,motorcycle\n,scooter\n
0,0x4607\n,37.000000\n,4.900000\n,11:30\n,11:45\n,0.000000\n,24.0,0,0,1,...,0,0,1,0,-0.02,-0.02,0,0,1,0
1,0xb379\n,34.000000\n,4.500000\n,19:45\n,19:50\n,1.000000\n,33.0,1,0,0,...,0,0,1,0,-0.13,-0.13,0,0,0,1
2,0x5d6d\n,23.000000\n,4.400000\n,8:30\n,8:45\n,1.000000\n,26.0,0,0,1,...,1,0,1,0,-0.01,-0.01,0,0,1,0
3,0x7a6a\n,38.000000\n,4.700000\n,17:60\n,18:10\n,1.000000\n,21.0,1,0,0,...,0,1,1,0,-0.05,-0.05,0,0,1,0
4,0x70a2\n,32.000000\n,4.600000\n,13:30\n,13:45\n,1.000000\n,30.0,1,0,0,...,0,0,1,0,-0.04,-0.04,0,0,0,1
5,0x9bb4\n,22.000000\n,4.800000\n,21:20\n,21:30\n,1.000000\n,26.0,0,0,1,...,0,0,1,0,-0.03,-0.03,0,0,1,0
6,0x95b4\n,33.000000\n,4.700000\n,19:15\n,19:30\n,1.000000\n,40.0,1,0,0,...,0,0,1,0,-0.11,-0.11,0,0,0,1
7,0x9eb2\n,35.000000\n,4.600000\n,17:25\n,17:30\n,1.000000\n,32.0,1,0,0,...,0,1,1,0,-0.13,-0.13,0,0,1,0
8,0x1102\n,22.000000\n,4.800000\n,20:55\n,21:05\n,1.000000\n,34.0,1,0,0,...,0,0,1,0,-0.13,-0.13,0,0,1,0
9,0xcdcd\n,36.000000\n,4.200000\n,21:55\n,22:10\n,3.000000\n,46.0,1,0,0,...,0,0,1,0,-0.07,-0.07,0,0,1,0

In [128]:
data.dtypes

ID                          object
Delivery_person_Age         object
Delivery_person_Ratings     object
Time_Orderd                 object
Time_Order_picked           object
multiple_deliveries         object
Time_taken (min)           float64
Metropolitian\n              uint8
Semi-Urban\n                 uint8
Urban\n                      uint8
Buffet\n                     uint8
Drinks\n                     uint8
Meal\n                       uint8
Snack\n                      uint8
Cloudy\n                     uint8
Fog\n                        uint8
Sandstorms\n                 uint8
Stormy\n                     uint8
Sunny\n                      uint8
Windy\n                      uint8
0                            uint8
1                            uint8
2                            uint8
3                            uint8
High\n                       uint8
Jam\n                        uint8
Low\n                        uint8
Medium\n                     uint8
No\n                         uint8
Yes\n                        uint8
latitude                   float64
longitude                  float64
bicycle\n                    uint8
electric_scooter\n           uint8
motorcycle\n                 uint8
scooter\n                    uint8
dtype: object

In [129]:
data['multiple_deliveries'].unique()

array(['0.000000\n', '1.000000\n', '3.000000\n', 'NaN\n', '2.000000\n',
       '0.00000\n', '0.00\n', '1.00\n', '1.00000\n', '2.00\n', '3.00\n',
       '3.00000\n', '2.00000\n'], dtype=object)

In [130]:
data['multiple_deliveries'].replace('\n', '', regex=True, inplace=True)

In [131]:
data['multiple_deliveries'] = data['multiple_deliveries'].astype(float)

In [132]:
data.dtypes

ID                          object
Delivery_person_Age         object
Delivery_person_Ratings     object
Time_Orderd                 object
Time_Order_picked           object
multiple_deliveries        float64
Time_taken (min)           float64
Metropolitian\n              uint8
Semi-Urban\n                 uint8
Urban\n                      uint8
Buffet\n                     uint8
Drinks\n                     uint8
Meal\n                       uint8
Snack\n                      uint8
Cloudy\n                     uint8
Fog\n                        uint8
Sandstorms\n                 uint8
Stormy\n                     uint8
Sunny\n                      uint8
Windy\n                      uint8
0                            uint8
1                            uint8
2                            uint8
3                            uint8
High\n                       uint8
Jam\n                        uint8
Low\n                        uint8
Medium\n                     uint8
No\n                         uint8
Yes\n                        uint8
latitude                   float64
longitude                  float64
bicycle\n                    uint8
electric_scooter\n           uint8
motorcycle\n                 uint8
scooter\n                    uint8
dtype: object

In [133]:
data['ID'].replace('\n', '', regex=True, inplace=True)
data['Delivery_person_Age'].replace('\n', '', regex=True, inplace=True)
data['Delivery_person_Ratings'].replace('\n', '', regex=True, inplace=True)
data['Time_Orderd'].replace('\n', '', regex=True, inplace=True)
data['Time_Order_picked'].replace('\n', '', regex=True, inplace=True)

In [134]:
data.head(10)

,ID,Delivery_person_Age,Delivery_person_Ratings,Time_Orderd,Time_Order_picked,multiple_deliveries,Time_taken (min),Metropolitian\n,Semi-Urban\n,Urban\n,...,Low\n,Medium\n,No\n,Yes\n,latitude,longitude,bicycle\n,electric_scooter\n,motorcycle\n,scooter\n
0,0x4607,37.000000,4.900000,11:30,11:45,0.0,24.0,0,0,1,...,0,0,1,0,-0.02,-0.02,0,0,1,0
1,0xb379,34.000000,4.500000,19:45,19:50,1.0,33.0,1,0,0,...,0,0,1,0,-0.13,-0.13,0,0,0,1
2,0x5d6d,23.000000,4.400000,8:30,8:45,1.0,26.0,0,0,1,...,1,0,1,0,-0.01,-0.01,0,0,1,0
3,0x7a6a,38.000000,4.700000,17:60,18:10,1.0,21.0,1,0,0,...,0,1,1,0,-0.05,-0.05,0,0,1,0
4,0x70a2,32.000000,4.600000,13:30,13:45,1.0,30.0,1,0,0,...,0,0,1,0,-0.04,-0.04,0,0,0,1
5,0x9bb4,22.000000,4.800000,21:20,21:30,1.0,26.0,0,0,1,...,0,0,1,0,-0.03,-0.03,0,0,1,0
6,0x95b4,33.000000,4.700000,19:15,19:30,1.0,40.0,1,0,0,...,0,0,1,0,-0.11,-0.11,0,0,0,1
7,0x9eb2,35.000000,4.600000,17:25,17:30,1.0,32.0,1,0,0,...,0,1,1,0,-0.13,-0.13,0,0,1,0
8,0x1102,22.000000,4.800000,20:55,21:05,1.0,34.0,1,0,0,...,0,0,1,0,-0.13,-0.13,0,0,1,0
9,0xcdcd,36.000000,4.200000,21:55,22:10,3.0,46.0,1,0,0,...,0,0,1,0,-0.07,-0.07,0,0,1,0

In [135]:
#data['ID'] = data['ID'].astype(float)
data['Delivery_person_Age'] = data['Delivery_person_Age'].astype(float)
data['Delivery_person_Ratings'] = data['Delivery_person_Ratings'].astype(float)

In [136]:
data['Time_Orderd'].replace(':', '', regex=True, inplace=True)

In [137]:
data['Time_Order_picked'].replace(':', '', regex=True, inplace=True)

In [138]:
data['Time_Orderd'] = data['Time_Orderd'].astype(float)
data['Time_Order_picked'] = data['Time_Order_picked'].astype(float)

In [139]:
data.dtypes

ID                          object
Delivery_person_Age        float64
Delivery_person_Ratings    float64
Time_Orderd                float64
Time_Order_picked          float64
multiple_deliveries        float64
Time_taken (min)           float64
Metropolitian\n              uint8
Semi-Urban\n                 uint8
Urban\n                      uint8
Buffet\n                     uint8
Drinks\n                     uint8
Meal\n                       uint8
Snack\n                      uint8
Cloudy\n                     uint8
Fog\n                        uint8
Sandstorms\n                 uint8
Stormy\n                     uint8
Sunny\n                      uint8
Windy\n                      uint8
0                            uint8
1                            uint8
2                            uint8
3                            uint8
High\n                       uint8
Jam\n                        uint8
Low\n                        uint8
Medium\n                     uint8
No\n                         uint8
Yes\n                        uint8
latitude                   float64
longitude                  float64
bicycle\n                    uint8
electric_scooter\n           uint8
motorcycle\n                 uint8
scooter\n                    uint8
dtype: object

In [148]:
data.head(10)

,ID,Delivery_person_Age,Delivery_person_Ratings,Time_Orderd,Time_Order_picked,multiple_deliveries,Time_taken (min),Metropolitian\n,Semi-Urban\n,Urban\n,...,Low\n,Medium\n,No\n,Yes\n,latitude,longitude,bicycle\n,electric_scooter\n,motorcycle\n,scooter\n
0,0x4607,37.0,4.9,1130.0,1145.0,0.0,24.0,0,0,1,...,0,0,1,0,-0.02,-0.02,0,0,1,0
1,0xb379,34.0,4.5,1945.0,1950.0,1.0,33.0,1,0,0,...,0,0,1,0,-0.13,-0.13,0,0,0,1
2,0x5d6d,23.0,4.4,830.0,845.0,1.0,26.0,0,0,1,...,1,0,1,0,-0.01,-0.01,0,0,1,0
3,0x7a6a,38.0,4.7,1760.0,1810.0,1.0,21.0,1,0,0,...,0,1,1,0,-0.05,-0.05,0,0,1,0
4,0x70a2,32.0,4.6,1330.0,1345.0,1.0,30.0,1,0,0,...,0,0,1,0,-0.04,-0.04,0,0,0,1
5,0x9bb4,22.0,4.8,2120.0,2130.0,1.0,26.0,0,0,1,...,0,0,1,0,-0.03,-0.03,0,0,1,0
6,0x95b4,33.0,4.7,1915.0,1930.0,1.0,40.0,1,0,0,...,0,0,1,0,-0.11,-0.11,0,0,0,1
7,0x9eb2,35.0,4.6,1725.0,1730.0,1.0,32.0,1,0,0,...,0,1,1,0,-0.13,-0.13,0,0,1,0
8,0x1102,22.0,4.8,2055.0,2105.0,1.0,34.0,1,0,0,...,0,0,1,0,-0.13,-0.13,0,0,1,0
9,0xcdcd,36.0,4.2,2155.0,2210.0,3.0,46.0,1,0,0,...,0,0,1,0,-0.07,-0.07,0,0,1,0

In [185]:
data['Time_taken (min)'] = data['Time_taken (min)'].astype(int)

In [186]:
data.head()

,ID,Delivery_person_Age,Delivery_person_Ratings,Time_Orderd,Time_Order_picked,multiple_deliveries,Time_taken (min),Metropolitian\n,Semi-Urban\n,Urban\n,...,Low\n,Medium\n,No\n,Yes\n,latitude,longitude,bicycle\n,electric_scooter\n,motorcycle\n,scooter\n
0,0x4607,37.0,4.9,1130.0,1145.0,0.0,24,0,0,1,...,0,0,1,0,-0.02,-0.02,0,0,1,0
1,0xb379,34.0,4.5,1945.0,1950.0,1.0,33,1,0,0,...,0,0,1,0,-0.13,-0.13,0,0,0,1
2,0x5d6d,23.0,4.4,830.0,845.0,1.0,26,0,0,1,...,1,0,1,0,-0.01,-0.01,0,0,1,0
3,0x7a6a,38.0,4.7,1760.0,1810.0,1.0,21,1,0,0,...,0,1,1,0,-0.05,-0.05,0,0,1,0
4,0x70a2,32.0,4.6,1330.0,1345.0,1.0,30,1,0,0,...,0,0,1,0,-0.04,-0.04,0,0,0,1

In [187]:
features = data
features = features.drop(['ID', 'Time_taken (min)'],  axis=1)
target = data['Time_taken (min)']

In [188]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.33, random_state= 10)

In [189]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression(normalize=True)
X_train = X_train.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)
regressor.fit(X_train, y_train)
X_test = X_test.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)
print("Predicted values:", regressor.predict(X_test))

Predicted values: [17.34375 27.0625  33.25    ... 25.5     26.6875  33.3125 ]

In [190]:
y_pred = regressor.predict(X_test)
y_pred.shape

(15046,)

In [191]:
print("R^2 score for liner regression: ", 100*regressor.score(X_test, y_test))

R^2 score for liner regression:  56.281618991701144

# Testing

In [160]:
data_test = pd.read_csv('sample_test_csv.csv')
data_test.reset_index(drop = True, inplace=True)
data_test

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
0,0x2318\n,COIMBRES13DEL01\n,NaN\n,NaN\n,11.003669,76.976494,11.043669,77.016494,30-03-2022\n,NaN\n,15:05\n,NaN\n,NaN\n,3,Drinks\n,electric_scooter\n,1.000000\n,No\n,Metropolitian\n
1,0x3474\n,BANGRES15DEL01\n,28.000000\n,4.600000\n,12.975377,77.696664,13.085377,77.806664,29-03-2022\n,20:30\n,20:35\n,Windy\n,Jam\n,0,Snack\n,motorcycle\n,1.000000\n,No\n,Metropolitian\n
2,0x9420\n,JAPRES09DEL03\n,23.000000\n,4.500000\n,26.911378,75.789034,27.001378,75.879034,10-03-2022\n,19:35\n,19:45\n,Stormy\n,Jam\n,0,Drinks\n,motorcycle\n,1.000000\n,No\n,Metropolitian\n
3,0x72ee\n,JAPRES07DEL03\n,21.000000\n,4.800000\n,26.766536,75.837333,26.856536,75.927333,02-04-2022\n,17:15\n,17:20\n,Fog\n,Medium\n,1,Meal\n,scooter\n,1.000000\n,No\n,Metropolitian\n
4,0xa759\n,CHENRES19DEL01\n,31.000000\n,4.600000\n,12.986047,80.218114,13.096047,80.328114,27-03-2022\n,18:25\n,18:40\n,Sunny\n,Medium\n,2,Drinks\n,scooter\n,1.000000\n,No\n,Metropolitian\n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11394,0x6909\n,JAPRES01DEL01\n,35.000000\n,4.600000\n,26.905190,75.810753,27.015190,75.920753,27-03-2022\n,21:35\n,21:45\n,Sunny\n,Jam\n,1,Snack\n,scooter\n,1.000000\n,No\n,Metropolitian\n
11395,0x443b\n,JAPRES11DEL01\n,33.000000\n,4.900000\n,26.902940,75.793007,26.912940,75.803007,11-03-2022\n,11:40\n,11:45\n,Sandstorms\n,High\n,1,Drinks\n,scooter\n,1.000000\n,No\n,Metropolitian\n
11396,0x1ea5\n,SURRES11DEL03\n,NaN\n,NaN\n,21.157735,72.768778,21.217735,72.828778,11-03-2022\n,NaN\n,21:05\n,NaN\n,NaN\n,3,Drinks\n,scooter\n,1.000000\n,No\n,Metropolitian\n
11397,0x22d4\n,VADRES03DEL02\n,27.00\n,4.70\n,22.320000,73.170000,22.450000,73.300000,06-03-2022\n,18:35\n,18:40\n,Sandstorms\n,Medium\n,0,Meal\n,motorcycle\n,0.00\n,No\n,Metropolitian\n
11398,0xb7be\n,CHENRES07DEL02\n,39.000000\n,5.000000\n,13.081878,80.248519,13.131878,80.298519,24-03-2022\n,22:20\n,22:25\n,Windy\n,Low\n,2,Drinks\n,motorcycle\n,1.000000\n,No\n,Urban\n

In [161]:
x= pd.get_dummies(data_test['City'])
data_test = data_test.drop(['City'], axis=1)
data_test = pd.concat([data_test, x], axis=1)
data_test['Type_of_order'].unique()
x= pd.get_dummies(data_test['Type_of_order'])
data_test = data_test.drop(['Type_of_order'], axis=1)
data_test = pd.concat([data_test, x], axis=1)
data_test['Weather conditions'].unique()
x= pd.get_dummies(data_test['Weather conditions'])
data_test = data_test.drop(['Weather conditions'], axis=1)
data_test = pd.concat([data_test, x], axis=1)
data_test['Vehicle_condition'].unique()
x= pd.get_dummies(data_test['Vehicle_condition'])
data_test = data_test.drop(['Vehicle_condition'], axis=1)
data_test = pd.concat([data_test, x], axis=1)
data_test['Road_traffic_density'].unique()
x= pd.get_dummies(data_test['Road_traffic_density'])
data_test = data_test.drop(['Road_traffic_density'], axis=1)
data_test = pd.concat([data_test, x], axis=1)
data_test['Festival'].unique()
x= pd.get_dummies(data_test['Festival'])
data_test = data_test.drop(['Festival'], axis=1)
data_test = pd.concat([data_test, x], axis=1)
data_test = data_test.drop(['Delivery_person_ID'], axis=1)
data_test = data_test.drop(['NaN\n'], axis=1)
data_test = data_test.drop(['Order_Date'], axis=1)
data_test['latitude'] = data_test.apply(lambda row: row['Restaurant_latitude'] - row['Delivery_location_latitude'], axis=1)
data_test['longitude'] = data_test.apply(lambda row: row['Restaurant_longitude'] - row['Delivery_location_longitude'], axis=1)
data_test = data_test.drop(['Restaurant_longitude'], axis=1)
data_test = data_test.drop(['Delivery_location_longitude'], axis=1)
data_test = data_test.drop(['Restaurant_latitude'], axis=1)
data_test = data_test.drop(['Delivery_location_latitude'], axis=1)
x= pd.get_dummies(data_test['Type_of_vehicle'])
data_test = data_test.drop(['Type_of_vehicle'], axis=1)
data_test = pd.concat([data_test, x], axis=1)
data_test['multiple_deliveries'].replace('\n', '', regex=True, inplace=True)
data_test['multiple_deliveries'] = data_test['multiple_deliveries'].astype(float)
data_test['ID'].replace('\n', '', regex=True, inplace=True)
data_test['Delivery_person_Age'].replace('\n', '', regex=True, inplace=True)
data_test['Delivery_person_Ratings'].replace('\n', '', regex=True, inplace=True)
data_test['Time_Orderd'].replace('\n', '', regex=True, inplace=True)
data_test['Time_Order_picked'].replace('\n', '', regex=True, inplace=True)
data_test['Delivery_person_Age'] = data_test['Delivery_person_Age'].astype(float)
data_test['Delivery_person_Ratings'] = data_test['Delivery_person_Ratings'].astype(float)
data_test['Time_Orderd'].replace(':', '', regex=True, inplace=True)
data_test['Time_Order_picked'].replace(':', '', regex=True, inplace=True)
data_test['Time_Orderd'] = data_test['Time_Orderd'].astype(float)
data_test['Time_Order_picked'] = data_test['Time_Order_picked'].astype(float)

In [176]:
data_test.dtypes

ID                          object
Delivery_person_Age        float64
Delivery_person_Ratings    float64
Time_Orderd                float64
Time_Order_picked          float64
multiple_deliveries        float64
Metropolitian\n              uint8
Semi-Urban\n                 uint8
Urban\n                      uint8
Buffet\n                     uint8
Drinks\n                     uint8
Meal\n                       uint8
Snack\n                      uint8
Cloudy\n                     uint8
Fog\n                        uint8
Sandstorms\n                 uint8
Stormy\n                     uint8
Sunny\n                      uint8
Windy\n                      uint8
0                            uint8
1                            uint8
2                            uint8
3                            uint8
High\n                       uint8
Jam\n                        uint8
Low\n                        uint8
Medium\n                     uint8
No\n                         uint8
Yes\n                        uint8
latitude                   float64
longitude                  float64
bicycle\n                    uint8
electric_scooter\n           uint8
motorcycle\n                 uint8
scooter\n                    uint8
Time_taken (min)           float64
dtype: object

In [177]:
data_test.head(10)

,ID,Delivery_person_Age,Delivery_person_Ratings,Time_Orderd,Time_Order_picked,multiple_deliveries,Metropolitian\n,Semi-Urban\n,Urban\n,Buffet\n,...,Medium\n,No\n,Yes\n,latitude,longitude,bicycle\n,electric_scooter\n,motorcycle\n,scooter\n,Time_taken (min)
0,0x2318,0.0,0.0,0.0,1505.0,1.0,1,0,0,0,...,0,1,0,-0.04,-0.04,0,1,0,0,0.0
1,0x3474,28.0,4.6,2030.0,2035.0,1.0,1,0,0,0,...,0,1,0,-0.11,-0.11,0,0,1,0,0.0
2,0x9420,23.0,4.5,1935.0,1945.0,1.0,1,0,0,0,...,0,1,0,-0.09,-0.09,0,0,1,0,0.0
3,0x72ee,21.0,4.8,1715.0,1720.0,1.0,1,0,0,0,...,1,1,0,-0.09,-0.09,0,0,0,1,0.0
4,0xa759,31.0,4.6,1825.0,1840.0,1.0,1,0,0,0,...,1,1,0,-0.11,-0.11,0,0,0,1,0.0
5,0xc4af,26.0,4.7,945.0,955.0,1.0,1,0,0,0,...,0,1,0,-0.01,-0.01,0,0,1,0,0.0
6,0x3b9d,23.0,4.8,960.0,1005.0,0.0,0,0,1,1,...,0,1,0,-0.02,-0.02,0,0,0,1,0.0
7,0xdd42,26.0,4.8,1760.0,1805.0,1.0,1,0,0,0,...,1,1,0,-0.05,-0.05,0,0,1,0,0.0
8,0x872b,35.0,4.9,2130.0,2145.0,1.0,1,0,0,0,...,0,1,0,-0.09,-0.09,0,0,0,1,0.0
9,0x6001,23.0,4.9,2045.0,2055.0,0.0,1,0,0,0,...,0,1,0,-0.03,-0.03,0,0,1,0,0.0

In [169]:
data_test=data_test.replace((np.inf, -np.inf, np.nan), 0).reset_index(drop=True)

In [166]:
data_test['Time_taken (min)'] = pd.Series(dtype='float')

In [167]:
features_test = data_test
features_test = features_test.drop(['ID', 'Time_taken (min)'],  axis=1)
target_test = data_test['Time_taken (min)']

In [171]:
data_test_updated=data_test

In [178]:
features_test

,Delivery_person_Age,Delivery_person_Ratings,Time_Orderd,Time_Order_picked,multiple_deliveries,Metropolitian\n,Semi-Urban\n,Urban\n,Buffet\n,Drinks\n,...,Low\n,Medium\n,No\n,Yes\n,latitude,longitude,bicycle\n,electric_scooter\n,motorcycle\n,scooter\n
0,0.0,0.0,0.0,1505.0,1.0,1,0,0,0,1,...,0,0,1,0,-0.04,-0.04,0,1,0,0
1,28.0,4.6,2030.0,2035.0,1.0,1,0,0,0,0,...,0,0,1,0,-0.11,-0.11,0,0,1,0
2,23.0,4.5,1935.0,1945.0,1.0,1,0,0,0,1,...,0,0,1,0,-0.09,-0.09,0,0,1,0
3,21.0,4.8,1715.0,1720.0,1.0,1,0,0,0,0,...,0,1,1,0,-0.09,-0.09,0,0,0,1
4,31.0,4.6,1825.0,1840.0,1.0,1,0,0,0,1,...,0,1,1,0,-0.11,-0.11,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11394,35.0,4.6,2135.0,2145.0,1.0,1,0,0,0,0,...,0,0,1,0,-0.11,-0.11,0,0,0,1
11395,33.0,4.9,1140.0,1145.0,1.0,1,0,0,0,1,...,0,0,1,0,-0.01,-0.01,0,0,0,1
11396,0.0,0.0,0.0,2105.0,1.0,1,0,0,0,1,...,0,0,1,0,-0.06,-0.06,0,0,0,1
11397,27.0,4.7,1835.0,1840.0,0.0,1,0,0,0,0,...,0,1,1,0,-0.13,-0.13,0,0,1,0
11398,39.0,5.0,2220.0,2225.0,1.0,0,0,1,0,1,...,1,0,1,0,-0.05,-0.05,0,0,1,0

In [179]:
X_test=features_test

In [181]:
submission_predictions=regressor.predict(X_test)

In [182]:
submission = pd.DataFrame({
        "ID": data_test["ID"],
        "Time_taken (min)": submission_predictions
    })

In [183]:
submission.head()

       ID  Time_taken (min)
0  0x2318          28.25000
1  0x3474          33.65625
2  0x9420          31.65625
3  0x72ee          24.40625
4  0xa759          23.59375

In [184]:
submission.to_csv("time_taken(mins)_prediction.csv", index=False)